<h1>Edit Issue</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@issue) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
      
      <%= f.label :description %>
      <%= f.email_field :description, class: 'form-control' %>
      
      <% if internal_user? %>
        <%= f.label :status %>
        <%= f.select :status, Issue.statuses.map { |key, value| [key.humanize, key] } %>

        <%= f.label "Assigned User" %>
        <%= collection_select(:user_issue, :assigned_user, User.all, :id, :name, {:selected => assigned_user_id(@issue)}) %>
      <% end %>
      
      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
