<div class="row">
  <h1>Issue #<%= @issue.id %> <%= link_to "Edit", edit_issue_path(@issue), class: "btn btn-primary" %></h1>
  <aside class="col-md-6">
    <ul class="list-group">
      <li class="list-group-item">Title: <%= @issue.title %></li>
      <li class="list-group-item">Description: <%= @issue.description %></li>
      <li class="list-group-item">Status: <%= @issue.status.humanize %></li>
      <li class="list-group-item">Assigned to: <%= assigned_user_name(@issue) %></li>
    </ul>
  </aside>
  <div class="col-md-6">
    <%= render "shared/comment_form" %>
  </div>
</div>
<div>
  <h3>Comments</h3>
  <%= render "layouts/comments_table" %>
</div>
