<div style="overflow-x:auto;">
  <table>
    <tr>
      <% if internal_user? %>
        <th><%= issue_sortable "id" %></th>
        <th><%= "Assigned user" %></th>
      <% end %>
      <th><%= issue_sortable "title" %></th>
      <th><%= issue_sortable "status" %></th>
      <th><%= issue_sortable "updated_at" %></th>
      <th><%= issue_sortable "created_at" %></th>
      <th>Edit</th>
      <% if admin_user? %>
        <th>Delete</th>
      <% end %>
    </tr>
  <%= will_paginate %>
  <% @issues.each do |issue| %>
    <tr>
      <% if internal_user? %>
        <td><%= issue.id %></td>
        <td><%= assigned_user_name(issue) %></td>
      <% end %>
      <td><%= link_to issue.title, issue_path(issue) %></td>
      <td><%= issue.status.humanize %></td>
      <td><%= time_ago_in_words(issue.updated_at) %></td>
      <td><%= time_ago_in_words(issue.created_at) %></td>
      <td><%= link_to "Edit", edit_issue_path(issue) %></td>
      <% if admin_user? %>
        <td><%= link_to "Delete", issue, method: :delete, data: { confirm: "You sure?" } %></td>
      <% end %>
    </tr>
  <% end %>
  <% will_paginate %>
  </table>
<div>